Repository saud-alnasser/starflux, changes with the labels that .github/labeler.yaml gives for each.
All labels: ğŸ“Œ area: framework, ğŸ“š area: documentation

fix(husky): the `pre-commit` and `commit-msg` hooks not working properly
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-commit.sh
  package.json
  pnpm-lock.yaml
Labels: none

fix(husky): the `pre-commit` and `commit-msg` hooks not working properly (#4)
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-commit.sh
  package.json
  pnpm-lock.yaml
Labels: none

fix(size-labels): not using custom labels maybe due to not including the missing category `xxl`
  .github/labels.yaml
Labels: none

fix(size-labels): not using custom labels maybe due to not including the missing category `xxl` (#6)
  .github/labels.yaml
Labels: none

fix(size-labels): add missing color property for the `xxl` size
  .github/labels.yaml
Labels: none

fix(size-labels): add the missing color property for the `xxl` size (#7)
  .github/labels.yaml
Labels: none

fix(size-labels): rename `labels.yaml` to `labels.yml` to fix file detecting issues
  .github/labels.yml
Labels: none

ci(size-labels): ignore `pnpm-lock.yaml` file from size calculations
  .gitattributes
Labels: none

ci: use `.yml` instead of `.yaml` extension in all files to increase consistency
  .github/ISSUE_TEMPLATE/1.bug_report.yml
  .github/ISSUE_TEMPLATE/2.feature_request.yml
  .github/ISSUE_TEMPLATE/3.documentation.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/continuous-deployment.yml
  .github/workflows/continuous-integration.yml
  .github/workflows/labeler.yml
Labels: none

fix: issue regarding config `yaml` files under the `.github` directory not being detected (#8)
  .gitattributes
  .github/ISSUE_TEMPLATE/1.bug_report.yml
  .github/ISSUE_TEMPLATE/2.feature_request.yml
  .github/ISSUE_TEMPLATE/3.documentation.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/dependabot.yml
  .github/labeler.yml
  .github/labels.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/continuous-deployment.yml
  .github/workflows/continuous-integration.yml
  .github/workflows/labeler.yml
Labels: none

build: lower the required node version to `>=18.12.0` from `>=18.13.0`
  .nvmrc
  package.json
Labels: none

build: lower the required node version to `>=18.12.0` from `>=18.13.0` (#9)
  .nvmrc
  package.json
Labels: none

fix(dependabot): remove subdirectories due to an issue with dependabot with monorepos
  .github/dependabot.yml
Labels: none

ci: beautify workflow names with emojis
  .github/workflows/codeql-analysis.yml
  .github/workflows/continuous-deployment.yml
  .github/workflows/continuous-integration.yml
Labels: none

ci: beautify workflow names with emojis (#10)
  .github/workflows/codeql-analysis.yml
  .github/workflows/continuous-deployment.yml
  .github/workflows/continuous-integration.yml
Labels: none

ci: automate more labels using the labeler action workflow
  .github/labeler.yml
Labels: none

ci: automate more labels using the labeler action workflow (#11)
  .github/labeler.yml
Labels: none

chore: prepare for initial release of the `@starflux/framework` package
  README.md
  packages/framework/package.json
Labels: ğŸ“Œ area: framework, ğŸ“š area: documentation

chore: prepare for initial release of the `@starflux/framework` package (#20)
  README.md
  packages/framework/package.json
Labels: ğŸ“Œ area: framework, ğŸ“š area: documentation

chore: change `@starflux` packages version from `0.0.1` to `0.0.0`
  SECURITY.md
  packages/framework/package.json
  www/package.json
Labels: ğŸ“Œ area: framework, ğŸ“š area: documentation

chore: change `@starflux` packages version from `0.0.1` to `0.0.0` (#21)
  SECURITY.md
  packages/framework/package.json
  www/package.json
Labels: ğŸ“Œ area: framework, ğŸ“š area: documentation

ci: limit the `📚 type: documentation` label to `md` or `mdx` file changes
  .github/labeler.yml
Labels: none

ci: limit the `📚 type: documentation` label to `md` or `mdx` file changes (#22)
  .github/labeler.yml
Labels: none

chore: reconfigure issue templates and the pull request template
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
Labels: ğŸ“š area: documentation

chore: reconfigure issue templates and the pull request template (#23)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
Labels: ğŸ“š area: documentation

.github/labeler.yaml:

'ğŸ“Œ area: framework':
  - any: ['packages/framework/**/*']

'ğŸ“š area: documentation':
  - any: ['www/**/*']
  - any: ['**/*.md']
